**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
SalineAcademyBackend/.github/
SalineAcademyBackend/docs/
SalineAcademyBackend/public/bundles/
SalineAcademyBackend/tests/
SalineAcademyBackend/var/
SalineAcademyBackend/vendor/
SalineAcademyFrontend/node_modules/
SalineAcademyFrontend/npm-debug.log
.editorconfig
.env.*.local
SalineAcademyFrontend/.env
.env.local.php
.env.test
